/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  background-color: #A0E6E3;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  background-color: #6f5499;
  border: 0;
}
.navbar-inverse .navbar-nav>li>a{
  color: #FAF6F6;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse  {
  max-height: none;
}    
.run-away{
  background-color: #FF580C;
  margin-left: 0.75em;
  color : #FAF6F6;
}
.mobile-belt{
  font-weight: bold; 
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
#white{
  color: #FFFFFF;
}
#yellow{
  color: #FFFF00;
}
#orange{
  color: #FF4000;
}
#green{
  color: #04B404;
}
#blue{
  color: #2E64FE;
}
#purple{
  color: #9A2EFE;
}
#brown{
  color: #A66829;
}
#red{
  color: #FF0000;
}
#black{
  color: #000000;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 4em;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;   
  }
} 

/* Main Content */

.cover-container {
  color: #FF580C;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  margin-top: 300px;
}
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.dojo{
  margin-top: 2.5em;
  text-align: -webkit-center;
}
#equation{ 
  font-weight: bold;
  font-size: 3.5em;
  z-index: 2;
  color:#665687;
}
.progress{
  margin-top: 3.5em;
}
.form-group{
 font-size: 2em;
 color: #FF580C;
}

/* Footer Content */
.footer {
  position: absolute;
  max-width: 100%;
  min-width: 100%;
  margin-top: -150px; /* negative value of footer height */
  height: 300px;
  clear:both;
  padding-top:20px;
  bottom: 0;
  background-image: url("img/grass.png");
  background-size: 100% 100%;
  z-index: -1;
} 